body {
    margin: 0;
    padding: 0;
}

.list_container {
    max-width: 1200px; /* 適切な最大幅を設定してください */
    margin: 100px auto; /* 中央寄せにするために左右のマージンを自動で設定 */
    padding: 0 20px; /* 適切な左右のパディングを設定してください */
}

.list_container h1 {
    font-weight: bold; /* 太文字に設定します */
    letter-spacing: 0.3px;
    font-family: 'Impact', sans-serif;
}

.intial_index a {
    display: inline-block;
    margin-right: 10px; /* 適切なマージンを設定してください */
    margin-bottom: 20px;
    text-decoration: none;
    color: #333; /* リンクの色を適切に設定してください */
}

.initial_index_result h3 {
    border-bottom: 0.5px solid #000; /* 下線のスタイルを設定します。適切な色を選択してください。 */
    display: inline-block; /* h3要素を横並びにするために必要なスタイル */
    padding-bottom: 5px; /* 適切な下部のパディングを設定してください */
    width: 1000px;
}

.initial_index_result ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* 要素が1行に収まり切らない場合は新しい行に折り返す */
}

.initial_index_result li {
    margin-right: 10px; /* 適切な間隔を設定してください */
    width: 23%; /* 4つ横並びにするために各要素の幅を調整 */
    box-sizing: border-box; /* ボックスモデルの影響を受けないように設定 */
}

.initial_index_result a {
    text-decoration: none;
    color: #333; /* リンクの色を適切に設定してください */
}