@charset "UTF-8";

/* リセットCSS */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


/* メインコンテンツ */
.main-content {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
}

.sorting-section {
    display: flex; /* フレックスボックスを使用して要素を横に配置 */
    align-items: center; /* アイテムを中央揃えにする */
}

label {
    margin-right: 10px; /* ラベルとセレクトボックスの間にスペースを作成 */
}

.result-view {
    display: inline;
}

.result_number {
    display: flex; /* フレックスボックスを使用して要素を横に配置 */
    text-align: right;
    margin-left: auto;
}

.result_number #total-count {
    font-weight: bold;
    font-size: 1.2em; /* 1.2倍のフォントサイズ */
}

/* 検索結果リスト */
.search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.result-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex; /* 要素を横に配置 */
}

.result-image {
    width: 300px;
    height: 200px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.result-details{
    text-align: left;
}

.result-item h2 {
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}

.result-item p {
    margin: 5px 0;
    font-size: 14px;
}